.el-dropdown-menu {
  padding: 5px 0;
  border-radius: 0;
  border: none;

  &__item--divided {
    &::before {
      background-color: #8900e1;
      height: 1px;
    }
  }

}

.el-popper[x-placement^="bottom"] {
  border-radius: 0;
  &.header-dropdown {
    .popper__arrow::after {
      border-bottom-color: #57068c;
    }
  }
}
.el-dropdown-menu__item:focus, 
.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: rgb(70, 5, 112);
  color: #fff;
}

.el-dropdown-menu__item--divided {
  border-top: none;
}

.el-menu {
  border-radius: 0;
}