.upLoad-file-input {
    color: #FFF;
    background-color: #3dbbdb;
    border-color: #3dbbdb;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;

    &:hover {
        background-color: #41caec;
    }
}
