$--color-primary: #57068c;
$--tag-info-color: #7a7c8c;
$--tag-padding: 0 15px;
$--color-black: #28252a;
$--color-success: #489141;
$--color-warning: #e86c00;
$--color-danger: #cb0200;
// $--switch-height: 16px;
// $--switch-button-size: 10px;
// $--switch-width: 30px !important;
// $--badge-background-color: #ff753c;

// $--radio-button-checked-border-color: #57068c;

// borders
$--border-radius-base: 0;
$--card-border-radius: 0;
$--button-border-radius: 0;
$--tag-border-radius: 0;
$--input-border-radius: 0;

// @import "~element-ui/packages/theme-chalk/src/tabs";

// @import "~element-ui/packages/theme-chalk/src/alert";
@import "~element-ui/packages/theme-chalk/src/button";
@import "~element-ui/packages/theme-chalk/src/card";
@import "~element-ui/packages/theme-chalk/src/input";
// @import "~element-ui/packages/theme-chalk/src/main";
// @import "~element-ui/packages/theme-chalk/src/tag";
// @import "~element-ui/packages/theme-chalk/src/divider";
// @import "~element-ui/packages/theme-chalk/src/dropdown";
// @import "~element-ui/packages/theme-chalk/src/dropdown-item";
// @import "~element-ui/packages/theme-chalk/src/dropdown-menu";
// @import "~element-ui/packages/theme-chalk/src/row";
// @import "~element-ui/packages/theme-chalk/src/col";
// @import "~element-ui/packages/theme-chalk/src/form";
// @import "~element-ui/packages/theme-chalk/src/form-item";
// @import "~element-ui/packages/theme-chalk/src/tooltip";
// @import "~element-ui/packages/theme-chalk/src/dialog";
// @import "~element-ui/packages/theme-chalk/src/icon";
// @import "~element-ui/packages/theme-chalk/src/message";
// @import "~element-ui/packages/theme-chalk/src/message-box";
// @import "~element-ui/packages/theme-chalk/src/common/transition";
// @import "~element-ui/packages/theme-chalk/src/table";
// @import "~element-ui/packages/theme-chalk/src/table-column";
// @import "~element-ui/packages/theme-chalk/src/link";
// @import "~element-ui/packages/theme-chalk/src/switch";
// @import "~element-ui/packages/theme-chalk/src/pagination";
// @import "~element-ui/packages/theme-chalk/src/loading";
@import "~element-ui/packages/theme-chalk/src/radio";
@import "~element-ui/packages/theme-chalk/src/checkbox";
// @import "~element-ui/packages/theme-chalk/src/autocomplete";
// @import "~element-ui/packages/theme-chalk/src/badge";
// @import "~element-ui/packages/theme-chalk/src/slider";
@import "~element-ui/packages/theme-chalk/src/select";

